configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 11";
}

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
